<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity Name="Linespotting.OpeningTimesStores" Publisher="CN=Linespotting" Version="1.0.0.0" ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Opening Times - Stores</DisplayName>
    <PublisherDisplayName>Linespotting</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>Desktop widget for store opening hours, specials, and sun times.</Description>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="OpeningTimesWidget.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Opening Times - Stores"
        Description="Favorite store hours, specials, sales alerts, and sunrise/sunset."
        BackgroundColor="#1C1C20"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
          Square71x71Logo="Images\Square71x71Logo.png"
          Square310x310Logo="Images\Square310x310Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#1C1C20" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>